[submodule "autobuild/travis-lazarus"]
	path = autobuild/travis-lazarus
	url = https://github.com/nielsAD/travis-lazarus.git
[submodule "Simba"]
	path = Simba
	url = https://github.com/MerlijnWajer/Simba.git
[submodule "Lape"]
	path = Lape
	url = https://github.com/SRL/Lape.git
